<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataMiningTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataMiningTools.Properties.Settings>
            <setting name="USERNAME" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>sasa</value>
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value>NetworkSecurityLog</value>
            </setting>
            <setting name="HOSTNAME" serializeAs="String">
                <value>140.126.130.74</value>
            </setting>
        </DataMiningTools.Properties.Settings>
    </userSettings>
</configuration>